body {
    background: rgb(113, 113, 230);
}

header {
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
}

section {
    background-color: aliceblue;
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.685);
    padding: 20px;
}

input {
    margin: 5px;
   
    text-align: center;
}

footer {
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    color: aliceblue;
    font-style: italic;
}
img{
    /* width: 200px; */
}
